/* container
display, flex-direction, flex-wrap, flex-flow, justify-content, align-items, align-content*/

/*item
 order, flex-grow, flex-shrink, flex, align-self*/
html, body{
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #0848f8;
    
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

 .main-app{
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.test-question{
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/ /* 중심축 기준*/
    align-items: center; /* 반대축 기준*/
}
form{
    width: 90%;
    padding-bottom: 10%;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.button{
    background-color: #0884f8;
    border-color: #0884f8;
    border-radius: 40px;
    min-width: 260px;
    height: 60px;
    cursor: pointer;
}

.span-button{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.question{
    
    flex-grow: 1; /* 화면 크기에 맞춰 변화*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 0.1px solid gray;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}

.radiogroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.radio-container{
    margin: 0em 0.5em 0em;
}

[type="radio"].left.max{
    appearance: none;
    border: max(2px, 0.1em) solid #33a474;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.left-option{
    color: #33a474;
    font-size: 1.3em;
    font-weight: 600;
}

[type="radio"].left.min{
    appearance: none;
    border: max(2px, 0.1em) solid #33a474;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

[type="radio"].mid{
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

[type="radio"].right.min{
    appearance: none;
    border: max(2px, 0.1em) solid #ee0bbd;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

[type="radio"].right.max{
    appearance: none;
    border: max(2px, 0.1em) solid #ee0bbd;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.right-option{
    font-size: 1.3em;
    font-weight: 600;
    color: #ee0bbd;
}

[type="radio"]:checked.left{
    background-color: #33a474;
}

[type="radio"]:checked.right{
    background-color: #ee0bbd;
}

[type="radio"]:checked.mid{
    background-color: gray;
}

[type="radio"]:focus-visible{
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #33a474;
}

[type="radio"]:hover{
    box-shadow: 0 0 0 max(4px, 0.1em) lightgray;
    cursor: pointer;
}

footer{
    border-top: 1px solid #eeeff1;
    padding: 60px 15px 100px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-top: auto;
}